
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: 'Godo', sans-serif;
  font-size: 120%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
}

a {
    margin-right: 10px;
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}

input, textarea, button { font-family: 'Godo', sans-serif; font-size: 80%; }

body { min-height: 100%; background: url(//i.imgur.com/g25TJb0.jpg) no-repeat 0 0; background-size: cover; }
body:after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, .8) }

.card { position: absolute; top: 50%; left: 50%; padding: 80px 150px; width: 1130px; z-index: 1; background: url(images/bg_roll-paper.png) no-repeat 0 0; background-size: 100% auto; color: #fff; transform: translate(-50%, -50%) rotate(-1deg); }
.card:after { content: ''; display: block; }
.card > * { float: left; }
.card-preview { position: relative; margin-top: -80px; line-height: 1; border-radius: 10px; box-shadow: 0 0 20px rgba(3,15,6,.8);overflow: hidden; }
.card-preview canvas { vertical-align: top; }
.card-form { padding-left: 30px; width: 380px; }
.card-form > div { margin: 15px 0; }
.card-form > div:first-child { margin-top: 0; }
.card-form > div:last-child { margin-bottom: 0; }
.card-form label { cursor: pointer; color: #79341b; }
.card-form input[type=text],
.card-form input[type=number],
.card-form textarea { margin: 5px 0; padding: 10px; width: 100%; }
.card-form input[type=radio] { width: 20px; height: 20px; vertical-align: middle; }
.card-form textarea { height: 140px; }
.card-form button { display: block; padding: 14px; width: 100%; background-color: #79341b; color: #fff; border: none; cursor: pointer; border-radius: 6px; border-bottom: 2px solid #5d220d; }
.card-form button:active { position: relative; top: 2px; border: none; }

@media (max-width: 1130px) {
  html, body { height: auto; }
  body { background-size: auto 100%; }
  body:after { display: none; }
  .card { position: static; margin: 0; padding: 0; width: auto; background: none; transform: none; }
  .card > * { float: none; }
  .card-preview { margin: 0 auto; max-width: 450px; padding: 15px; box-shadow: none; }
  .card-preview canvas { width: 100%; }
  .card-form { width: auto; padding: 15px; background: url(images/bg_roll-paper.png) no-repeat 50% -100px; }
}